<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="HARTdata" connectionString="Server=.\SQLEXPRESS;Database=HARTdata;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name ="HART" connectionString="Data Source=LOLMACHINE3\SQLEXPRESS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Socket" value ="192.168.10.189:5094"/>
  </appSettings>
</configuration>